.container-fluid {
  background-image: url('../../../assets/backgrounds/bg.jpeg');
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: attachment;
  padding: 2rem;
}

.card {
  height: 300px;
  display: flex;
  justify-content: center;
  box-shadow: white 0px 0px 10px;
  position: relative;

}

.card:hover {
  transform: scale(1.05);
}

.cards-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.spinner-border {
  width: 5rem;
  height: 5rem;
  margin-left: -5rem;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 0;
}

