<div class="container-fluid">

    <ng-container *ngIf="postList">


        <div class="row">
            <h1 class="text-light text-center">You have {{counter}} comments</h1>
        </div>



        <div class="row cards-container">
            <div class=" col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-12 mt-4"
                *ngFor="let item of postList;  let i = index">
                <div class="card p-2">
                    <h3 role="button" class="text-danger delete-button " (click)="deleteComment(i)">x</h3>
                    <div class="row">
                        <div class="col-12">
                            <label> <b>Name:</b> {{item.name}} </label>
                        </div>
                        <div class="col-12">
                            <label> <b>Email:</b> {{item.email}} </label>
                        </div>
                        <div class="col-12">
                            <label> <b>Body:</b> {{item.body}} </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <h2 class="text-light text-center">Add a comments</h2>
            </div>

            <div class="row" [formGroup]="myForm" *ngIf="myForm">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mt-3">
                    <input type="text" placeholder="Name" formControlName="name" class="form-control"
                        [ngClass]="{ 'is-invalid': myForm.controls['name'].invalid && myForm.controls['name'].touched}">
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mt-3">
                    <input type="text" placeholder="email" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': myForm.controls['email'].invalid && myForm.controls['email'].touched}">
                </div>
                <div class="col-12 mt-3">
                    <textarea type="text" placeholder="Description" formControlName="body" class="form-control"
                        [ngClass]="{ 'is-invalid': myForm.controls['body'].invalid && myForm.controls['body'].touched}">></textarea>
                </div>
                <div class="col-12 mt-5">
                    <button class="btn btn-primary w-100" (click)="addComment()" [disabled]="myForm.invalid">Add
                        comment</button>
                </div>
            </div>



        </div>
    </ng-container>

    <ng-container *ngIf="!postList && !hasError">
        <div class="loader-container">
            <div class="spinner-border text-light" role="status">
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="hasError">
        <div class="loader-container">
            <h1>Opp, something went wrong</h1>
        </div>
    </ng-container>
</div>